@model Epermit.Models.PermitDetails
@{
    ViewBag.Title = "Issuepage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Issuepage", "Home"))
{

    @Html.AntiForgeryToken()

    <form>

        <div class="form-container">
            <h2>E-Permit Issue Form</h2>


            <div class="fields">
                <div class="input-field">
                    <label>Issued By Department:</label>
                    <input type="text" placeholder="Department Name" required name="IssuedByDeparment" value="@Model.IssuedByDeparment">
                </div>
                <div class="input-field">
                    <label>Issued By Area:</label>
                    <select required name="IssuedByArea" id="IssuedByArea">
                        <option value="" disabled selected>Select Area</option>
                        <option value="area1" style="color: black;">Area 1</option>
                        <option value="area2" style="color: black;">Area 2</option>
                        <option value="area3" style="color: black;">Area 3</option>
                        <option value="area4" style="color: black;">Area 4</option>
                        <option value="area5" style="color: black;">Area 5</option>
                    </select>
                </div>
                <div class="input-field">
                    <label>Issued To Department:</label>
                    <select required name="IssuedToDeparment" id="IssuedToDeparment">
                        <option value="" disabled selected>Select Department</option>
                        <option value="Department1" style="color: black;">Department 1</option>
                        <option value="Department2" style="color: black;">Department 2</option>
                        <option value="Department3" style="color: black;">Department 3</option>
                        <option value="Department4" style="color: black;">Department 4</option>
                        <option value="Department5" style="color: black;">Department 5</option>
                    </select>
                </div>
                <div class="input-field">
                    <label>Issued To Area:</label>
                    <select required id="IssuedToArea" name="IssuedToArea">
                        <option value="" disabled selected>Select Area</option>
                        <option value="area1" style="color: black;">Area 1</option>
                        <option value="area2" style="color: black;">Area 2</option>
                        <option value="area3" style="color: black;">Area 3</option>
                        <option value="area4" style="color: black;">Area 4</option>
                        <option value="area5" style="color: black;">Area 5</option>
                    </select>
                </div>

                <div class="input-field">
                    <label>Permit Request Date:</label>
                    <input type="date" placeholder="enter birth date" required name="PermitIssueDate" value="@Model.PermitIssueDate">
                </div>
                <div class="input-field">
                    <label>Select Shift:</label>
                    <select required name="PermitShift" id="PermitShift">
                        <option value="" disabled selected>Select Shift</option>
                        <option value="6AM-2PM" style="color: black;">6 AM - 2 PM</option>
                        <option value="2PM-10PM" style="color: black;">2 PM - 10 PM</option>
                        <option value="10PM-6AM" style="color: black;">10 PM - 6 AM</option>

                    </select>
                </div>
                <div class="input-field">
                    <label>Location of Work:</label>
                    <input type="text" placeholder="Work Location" name="LocationOfWork" required value="@Model.LocationOfWork">
                </div>
                <div class="input-field">
                    <label>Job Description:</label>
                    <input type="text" placeholder="Job Description" name="JobDescription" id="JobDescription" required value="@Model.JobDescription">
                </div>
                @*<div class="input-field">
                        <label for="gas-test-required" class="checkbox-label">Is Gas Test Required?</label>
                        <input type="checkbox" id="gas-test-required" name="IsGasTestRequired">
                        <label for="permit-received-by-individual" class="checkbox-label">Is permit to be received by Individual?</label>
                        <input type="checkbox" id="permit-received-by-individual" name="IsPermitToBeRecievedByIndividual">
                    </div>*@

            </div>

        </div>


        <div class="sap-container">
            <h2>SAP</h2>

            <div class="sa<p-fields">
                <div class="sap-input-field">
                    <div class="sap-radio-group">
                        @*<input type="radio" id="With_SAP_notification" name="WithSAPnotification" value="With SAP notification">
                            <label for="With_SAP_notification">With SAP notification</label>
                            <input type="radio" id="With_SAP_PMO_Notification" name="WithSAPPMONotification" value="With SAP PMO Notification">
                            <label for="With_SAP_PMO_Notification">With SAP PMO Notification</label>
                            <input type="radio" id="With_SAP_PM_sub_order" name="WithSAPPMsuborder" value="With SAP PM sub order">
                            <label for="With_SAP_PM_sub_order">With SAP PM sub order</label>*@
                        <input type="radio" id="Without_SAP_notification" name="WithuoutSAPnotification" value="Without SAP notification">
                        <label for="Without_SAP_notification">Without SAP notification</label>
                    </div>
                </div>
                <br>
                <div class="sap-input-field">
                    <label>Reason for without SAP notification:</label>
                    <textarea id="comments" name="ReasonForWithoutSAPnotification" rows="4" cols="50" placeholder="Enter your comments here..."></textarea>
                </div>
            </div>

        </div>


        <div class="work-order-container">
            <h2>Work Order</h2>

            <div class="work-order-fields">
                <div class="work-order-input-field">
                    <div class="work-order-radio-group">
                        @*<input type="radio" id="WWON" name="WithWorkOrderNumber" value="With Work Order Number">
                            <label for="WWON">With Work Order Number</label>*@
                        <input type="radio" id="WION" name="WithoutWorkOrderNumber" value="Without Work Order Number">
                        <label for="WION">Without Work Order Number</label>

                    </div>
                </div>
                <br>
                <div class="work-order-input-field">
                    <label>Reason for without Work Order Number</label>
                    <textarea id="comments" name="ReasonForWithoutWorkOrderNumber" rows="4" cols="50" placeholder="Enter your comments here..."></textarea>
                </div>



            </div>


        </div>


        <div class="permit-issue">

            <button type="submit" class="btn btn-primary">Proceed</button>

            <button type="button" class="reset">Reset</button>

            <button type="button" class="cold" onclick="load_cold_permit();" id="btnColdPermit">Issue Cold Permit</button>

            <div class="cold-permit-wrap" id="lcp">
                <img src="close.png" class="close" onclick="load_cold_permit();">

                <div class="form_cold_permit" id="coldPermitForm">
                    <div id="page1" class="page active">
                        <h1 class="h1_Cold_permit">Issue Cold Permit</h1>
                        <div class="flex-container">
                            <div class="left-content">
                                <p class="p_cold_permit"> Equipment Work Area Inspected</p>
                            </div>
                            <div class="right-content">
                                <input type="radio" id="html_done1" name="Cold_permit_status1" value="Done">
                                <label class="label_cold_permit" for="html_done1">Done</label>
                                <input type="radio" id="css_not_required1" name="Cold_permit_status2" value="Not Required" checked>
                                <label class="label_cold_permit" for="css_not_required1">Not Required</label>
                            </div>
                        </div>
                        <br>


                        <div class="flex-container">
                            <div class="left-content">
                                <p class="p_cold_permit">Surrounding Area</p>
                                <input type="checkbox" id="Cold_permit_checked2" name="SurroundingARea" value="checked" onclick="toggleRadioButtons(this)">
                                <label class="label_cold_permit" for="Cold_permit_checked2">Checked</label>
                                <input type="checkbox" id="Cold_permit_covered2" name="SurroundingARea" value="covered" onclick="toggleRadioButtons(this)">
                                <label class="label_cold_permit" for="Cold_permit_covered2">Covered</label>
                                <input type="checkbox" id="Cold_permit_cleaned2" name="SurroundingARea" value="cleaned" onclick="toggleRadioButtons(this)">
                                <label class="label_cold_permit" for="Cold_permit_cleaned2">Cleaned</label>
                            </div>
                            <div class="right-content">
                                <input type="radio" id="html_done2" name="Cold_permit_status2" value="Done" onclick="toggleCheckboxes(this)">
                                <label class="label_cold_permit" for="html_done2">Done</label>
                                <input type="radio" id="css_not_required2" name="Cold_permit_status2" value="Not Required" checked onclick="toggleCheckboxes(this)">
                                <label class="label_cold_permit" for="css_not_required2">Not Required</label>
                            </div>
                        </div>
                        <br>

                        <div class="flex-container">
                            <div class="left-content">
                                <p class="p_cold_permit"> Equipment Electrically Isolated and Tagged Vide</p>
                            </div>
                            <div class="right-content">
                                <input type="radio" id="html_done3" name="Cold_permit_status3" value="Done">
                                <label class="label_cold_permit" for="html_done3">Done</label>
                                <input type="radio" id="css_not_required3" name="Cold_permit_status3" value="Not Required" checked>
                                <label class="label_cold_permit" for="css_not_required3">Not Required</label>
                            </div>
                        </div>
                        <br>

                        <div class="flex-container">
                            <div class="left-content">
                                <p class="p_cold_permit">Running Water</p>
                                <input type="checkbox" id="Cold_permit_checked4" name="RunningWater" value="checked" onclick="toggleRadioButtons(this)">
                                <label class="label_cold_permit" for="Cold_permit_checked4">Checked</label>
                                <input type="checkbox" id="Cold_permit_covered4" name="RunningWater" value="covered" onclick="toggleRadioButtons(this)">
                                <label class="label_cold_permit" for="Cold_permit_covered4">Covered</label>
                                <input type="checkbox" id="Cold_permit_cleaned4" name="RunningWater" value="cleaned" onclick="toggleRadioButtons(this)">
                                <label class="label_cold_permit" for="Cold_permit_cleaned4">Cleaned</label>
                            </div>
                            <div class="right-content">
                                <input type="radio" id="html_done4" name="Cold_permit_status4" value="Done" onclick="toggleCheckboxes(this)">
                                <label class="label_cold_permit" for="html_done4">Done</label>
                                <input type="radio" id="css_not_required4" name="Cold_permit_status4" value="Not Required" checked onclick="toggleCheckboxes(this)">
                                <label class="label_cold_permit" for="css_not_required4">Not Required</label>
                            </div>
                        </div>

                        <br>

                        <div class="flex-container">
                            <div class="left-content">
                                <p class="p_cold_permit"> Equipment</p>
                                <input type="checkbox" id="Cold_permit_blinded5" name="Equipment" value="blinded" onclick="toggleRadioButtons(this)">
                                <label class="label_cold_permit" for="Cold_permit_blinded5">Blinded</label>
                                <input type="checkbox" id="Cold_permit_closed5" name="Equipment" value="closed" onclick="toggleRadioButtons(this)">
                                <label class="label_cold_permit" for="Cold_permit_closed5">Closed</label>
                                <input type="checkbox" id="Cold_permit_disconnected5" name="Equipment" value="disconnected" onclick="toggleRadioButtons(this)">
                                <label class="label_cold_permit" for="Cold_permit_disconnected5">Disconnected</label>
                                <input type="checkbox" id="Cold_permit_isolated5" name="Equipment" value="isolated" onclick="toggleRadioButtons(this)">
                                <label class="label_cold_permit" for="Cold_permit_isolated5">Isolated</label>
                            </div>
                            <div class="right-content">
                                <input type="radio" id="html_done5" name="Cold_permit_status5" value="Done" onclick="toggleCheckboxes(this)">
                                <label class="label_cold_permit" for="html_done5">Done</label>
                                <input type="radio" id="css_not_required5" name="Cold_permit_status5" value="Not Required" checked onclick="toggleCheckboxes(this)">
                                <label class="label_cold_permit" for="css_not_required5">Not Required</label>
                            </div>
                        </div>

                        <br>

                        <div class="flex-container">
                            <div class="left-content">
                                <p class="p_cold_permit"> Equipment Properly</p>
                                <input type="checkbox" id="Cold_permit_drained6" name="EquipmentProperty" value="drained" onclick="toggleRadioButtons(this)">
                                <label class="label_cold_permit" for="Cold_permit_drained6">Drained</label>
                                <input type="checkbox" id="Cold_permit_depressurised6" name="EquipmentProperty" value="depressurised" onclick="toggleRadioButtons(this)">
                                <label class="label_cold_permit" for="Cold_permit_depressurised6">Depressurised</label>
                            </div>
                            <div class="right-content">
                                <input type="radio" id="html_done6" name="Cold_permit_status6" value="Done" onclick="toggleCheckboxes(this)">
                                <label class="label_cold_permit" for="html_done6">Done</label>
                                <input type="radio" id="css_not_required6" name="Cold_permit_status6" value="Not Required" checked onclick="toggleCheckboxes(this)">
                                <label class="label_cold_permit" for="css_not_required6">Not Required</label>
                            </div>
                        </div>

                        <br>

                        <div class="flex-container">
                            <div class="left-content">
                                <p class="p_cold_permit"> Equipment Water Flushed</p>
                            </div>
                            <div class="right-content">
                                <input type="radio" id="html_done7" name="Cold_permit_status7" value="Done">
                                <label class="label_cold_permit" for="html_done7">Done</label>
                                <input type="radio" id="css_not_required7" name="Cold_permit_status7" value="Not Required" checked>
                                <label class="label_cold_permit" for="css_not_required7">Not Required</label>
                            </div>
                        </div>

                        <br>

                        <div class="flex-container">
                            <div class="left-content">
                                <p class="p_cold_permit">Iron Sulphide Removed/kept wet</p>
                            </div>
                            <div class="right-content">
                                <input type="radio" id="html_done8" name="Cold_permit_status8" value="Done">
                                <label class="label_cold_permit" for="html_done8">Done</label>
                                <input type="radio" id="css_not_required8" name="Cold_permit_status8" value="Not Required" checked>
                                <label class="label_cold_permit" for="css_not_required8">Not Required</label>
                            </div>
                        </div>

                        <br>

                        <button class="button_Cold_permit" type="button" onclick="ColdPermitIssue1()">Next</button>
                    </div>

                    <div id="page2" class="page">
                        <div class="flex-container">
                            <div class="left-content">
                                <p class="p_cold_permit"> Equipment Properly Steamed/Purged</p>
                            </div>
                            <div class="right-content">
                                <input type="radio" id="html_done9" name="Cold_permit_status9" value="Done">
                                <label class="label_cold_permit" for="html_done9">Done</label>
                                <input type="radio" id="css_not_required9" name="Cold_permit_status9" value="Not Required" checked>
                                <label class="label_cold_permit" for="css_not_required9">Not Required</label>
                            </div>
                        </div>

                        <br>

                        <div class="flex-container">
                            <div class="left-content">
                                <p class="p_cold_permit">Gas Test</p>
                                <input type="checkbox" id="Cold_permit_HC10" name="GasTest" value="HC" onclick="toggleRadioButtons(this)">
                                <label class="label_cold_permit" for="Cold_permit_HC10">HC</label>
                                <input type="checkbox" id="Cold_permit_CO10" name="GasTest" value="CO" onclick="toggleRadioButtons(this)">
                                <label class="label_cold_permit" for="Cold_permit_CO10">CO</label>
                                <input type="checkbox" id="Cold_permit_Other10" name="GasTest" value="Other" onclick="toggleRadioButtons(this)">
                                <label class="label_cold_permit" for="Cold_permit_Other10">O2</label>
                                <input type="checkbox" id="Cold_permit_Other10" name="GasTest" value="Other" onclick="toggleRadioButtons(this)">
                                <label class="label_cold_permit" for="Cold_permit_Other10">SO2</label>
                                <input type="checkbox" id="Cold_permit_Other10" name="GasTest" value="Other" onclick="toggleRadioButtons(this)">
                                <label class="label_cold_permit" for="Cold_permit_Other10">H2S</label>
                                <input type="checkbox" id="Cold_permit_Other10" name="GasTest" value="Other" onclick="toggleRadioButtons(this)">
                                <label class="label_cold_permit" for="Cold_permit_Other10">Other if Any</label>
                            </div>
                            <div class="right-content">
                                <input type="radio" id="html_done10" name="Cold_permit_status10" value="Done" onclick="toggleCheckboxes(this)">
                                <label class="label_cold_permit" for="html_done10">Done</label>
                                <input type="radio" id="css_not_required10" name="Cold_permit_status10" value="Not Required" checked onclick="toggleCheckboxes(this)">
                                <label class="label_cold_permit" for="css_not_required10">Not Required</label>
                            </div>
                        </div>
                        <br>


                        <div class="flex-container">
                            <div class="left-content">
                                <p class="p_cold_permit">StandBy Personal Provided for Fire Watch from</p>
                                <input type="checkbox" id="Cold_permit_checked11" name="StandbyPerson" value="checked" onclick="toggleRadioButtons(this)">
                                <label class="label_cold_permit" for="Cold_permit_checked11">Process</label>
                                <input type="checkbox" id="Cold_permit_covered11" name="StandbyPerson" value="covered" onclick="toggleRadioButtons(this)">
                                <label class="label_cold_permit" for="Cold_permit_covered11">Maintenance</label>
                                <input type="checkbox" id="Cold_permit_covered11" name="StandbyPerson" value="covered" onclick="toggleRadioButtons(this) ">
                                <label class="label_cold_permit" for="Cold_permit_covered11">Fire & Safety</label>
                            </div>

                            <div class="right-content">
                                <input type="radio" id="html_done11" name="Cold_permit_status11" value="Done" onclick="toggleCheckboxes(this)">
                                <label class="label_cold_permit" for="html_done11">Done</label>
                                <input type="radio" id="css_not_required11" name="Cold_permit_status11" value="Not Required" checked onclick="toggleCheckboxes(this)">
                                <label class="label_cold_permit" for="css_not_required11">Not Required</label>
                            </div>
                        </div>

                        <br>

                        <div class="flex-container">
                            <div class="left-content">
                                <p class="p_cold_permit">Proper Ventilation and Lighting Provided</p>
                            </div>
                            <div class="right-content">
                                <input type="radio" id="html_done" name="Cold_permit_status12" value="Done">
                                <label class="label_cold_permit" for="html_done">Done</label>
                                <input type="radio" id="css_not_required12" name="Cold_permit_status12" value="Not Required" checked>
                                <label class="label_cold_permit" for="css_not_required12">Not Required</label>
                            </div>
                        </div>

                        <div class="flex-container">
                            <div class="left-content">
                                <p class="p_cold_permit">Area Cordoned off (Minimum 15m) in case of Radiography</p>
                            </div>
                            <div class="right-content">
                                <input type="radio" id="html_done" name="Cold_permit_status13" value="Done">
                                <label class="label_cold_permit" for="html_done">Done</label>
                                <input type="radio" id="css_not_required13" name="Cold_permit_status13" value="Not Required" checked>
                                <label class="label_cold_permit" for="css_not_required13">Not Required</label>
                            </div>
                        </div>

                        <br>

                        <div class="flex-container">
                            <div class="left-content">
                                <p class="p_cold_permit">Following Personal Protective Equipment (PPE) are used:</p>
                                <table class="table_cold_permit">
                                    <tr>
                                        <td class="td_cold_permit">
                                            <input type="checkbox" id="safety_helmet15" name="Cold_permit_status15" value="Safety Helmet" onclick="toggleRadioButtons(this)">
                                            <label class="label_cold_permit" for="safety_helmet15">Safety Helmet</label>
                                        </td>
                                        <td class="td_cold_permit">
                                            <input type="checkbox" id="safety_shoes15" name="Cold_permit_status15" value="Safety Shoes" onclick="toggleRadioButtons(this)">
                                            <label class="label_cold_permit" for="safety_shoes15">Safety Shoes</label>
                                        </td>
                                        <td class="td_cold_permit">
                                            <input type="checkbox" id="gloves15" name="Cold_permit_status15" value="Gloves" onclick="toggleRadioButtons(this)">
                                            <label class="label_cold_permit" for="gloves15">Gloves</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="td_cold_permit">
                                            <input type="checkbox" id="goggles15" name="Cold_permit_status15" value="Goggles" onclick="toggleRadioButtons(this)">
                                            <label class="label_cold_permit" for="goggles15">Goggles</label>
                                        </td>
                                        <td class="td_cold_permit">
                                            <input type="checkbox" id="fresh_air_mask15" name="Cold_permit_status15" value="Fresh Air Mask" onclick="toggleRadioButtons(this)">
                                            <label class="label_cold_permit" for="fresh_air_mask15">Fresh Air Mask</label>
                                        </td>
                                        <td class="td_cold_permit">
                                            <input type="checkbox" id="canister_mask15" name="Cold_permit_status15" value="Canister Mask" onclick="toggleRadioButtons(this)">
                                            <label class="label_cold_permit" for="canister_mask15">Canister Mask</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="td_cold_permit">
                                            <input type="checkbox" id="lifeline15" name="Cold_permit_status15" value="Lifeline" onclick="toggleRadioButtons(this)">
                                            <label class="label_cold_permit" for="lifeline15">Lifeline</label>
                                        </td>
                                        <td class="td_cold_permit">
                                            <input type="checkbox" id="apron15" name="Cold_permit_status15" value="Apron" onclick="toggleRadioButtons(this)">
                                            <label class="label_cold_permit" for="apron15">Apron</label>
                                        </td>
                                        <td class="td_cold_permit">
                                            <input type="checkbox" id="dust_respirator15" name="Cold_permit_status15" value="Dust Respirator" onclick="toggleRadioButtons(this)">
                                            <label class="label_cold_permit" for="dust_respirator15">Dust Respirator</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="td_cold_permit">
                                            <input type="checkbox" id="dosimeter15" name="Cold_permit_status15" value="Dosimeter" onclick="toggleRadioButtons(this)">
                                            <label class="label_cold_permit" for="dosimeter15">Dosimeter</label>
                                        </td>
                                        <td class="td_cold_permit">
                                            <input type="checkbox" id="boiler_suit15" name="Cold_permit_status15" value="Boiler Suit" onclick="toggleRadioButtons(this)">
                                            <label class="label_cold_permit" for="boiler_suit15">Boiler Suit</label>
                                        </td>
                                        <td class="td_cold_permit">
                                            <input type="checkbox" id="film_badges15" name="Cold_permit_status15" value="Film Badges" onclick="toggleRadioButtons(this)">
                                            <label class="label_cold_permit" for="film_badges15">Film Badges</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="td_cold_permit">
                                            <input type="checkbox" id="ear_plug15" name="Cold_permit_status15" value="Ear Plug" onclick="toggleRadioButtons(this)">
                                            <label class="label_cold_permit" for="ear_plug15">Ear Plug</label>
                                        </td>
                                        <td class="td_cold_permit">
                                            <input type="checkbox" id="airline15" name="Cold_permit_status15" value="Airline" onclick="toggleRadioButtons(this)">
                                            <label class="label_cold_permit" for="airline15">Airline</label>
                                        </td>
                                        <td class="td_cold_permit">
                                            <input type="checkbox" id="breathing_apparatus15" name="Cold_permit_status15" value="Breathing Apparatus" onclick="toggleRadioButtons(this)">
                                            <label class="label_cold_permit" for="breathing_apparatus15">Breathing Apparatus</label>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="right-content">
                                <input type="radio" id="html_done15" name="Cold_permit_status14" value="Done" onclick="toggleCheckboxes(this)">
                                <label class="label_cold_permit" for="html_done15">Done</label>
                                <input type="radio" id="css_not_required15" name="Cold_permit_status14" value="Not Required" checked onclick="toggleCheckboxes(this)">
                                <label class="label_cold_permit" for="css_not_required15">Not Required</label>
                            </div>
                        </div>
                        <br>

                        <!-- PPE Table -->

                        <br>


                        <button class="button_Cold_permit" type="button" onclick="showPage('page1')">Previous</button>
                        @*<button class="button_Cold_permit" type="submit">Submit</button>*@
                        <button class="button_Cold_permit" type="button" onclick="ColdPermitIssue2()">Submit</button>
                    </div>
                </div>

            </div>

            <button type="button" class="hot" onclick="load_hot_permit();" id="btnHotPermit">Issue Hot Permit</button>

            <div id="lhp" class="hot-permit-wrap">
                <img src="close.png" class="close" onclick="load_hot_permit();">

                <div class="form_hot_permit" id="hotPermitForm">
                    <div id="page3" class="page active">
                        <h1 class="h1_hot_permit">Issue Hot Permit</h1>
                        <div class="flex-container">
                            <div class="left-container">
                                <p class="p_hot_permit">Checking of</p>
                                <input type="checkbox" id="Hot_permit_equipment1" name="checking" value="equipment" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_equipment1">Equipment</label>
                                <input type="checkbox" id="Hot_permit_workarea1" name="checking" value="workarea" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_workarea1">Work Area</label>
                            </div>
                            <div class="right-content">
                                <input type="radio" id="html_done1" name="Hot_permit_status1" value="Done" onclick="toggleCheckboxes(this)">
                                <label class="label_hot_permit" for="html_done1">Done</label>
                                <input type="radio" id="css_not_required1" name="Hot_permit_status1" value="Not Required" checked onclick="toggleCheckboxes(this)">
                                <label class="label_hot_permit" for="css_not_required1">Not Required</label>
                            </div>
                        </div>
                        <br />

                        <div class="flex-container">
                            <div class="left-content">
                                <p class="p_hot_permit">Surrounding Area</p>
                                <input type="checkbox" id="Hot_permit_checked2" name="SurroundingARea" value="checked" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_checked2">Checked</label>
                                <input type="checkbox" id="Hot_permit_rags2" name="SurroundingARea" value="rags" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_rags2">Rags</label>
                                <input type="checkbox" id="Hot_permit_cleanedupoil2" name="SurroundingARea" value="cleanedupoil" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_cleanedupoil2">Cleaned Up of Oil</label>
                                <input type="checkbox" id="Hot_permit_grassremoved2" name="SurroundingARea" value="grassremoved" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_grassremoved2">Grass etc Remove</label>
                            </div>
                            <div class="right-content">
                                <input type="radio" id="html_done2" name="Hot_permit_status2" value="done" onclick="toggleCheckboxes(this)">
                                <label class="label_hot_permit" for="html_done2">Done</label>
                                <input type="radio" id="css_not_required2" name="Hot_permit_status2" value="not_required" checked onclick="toggleCheckboxes(this)">
                                <label class="label_hot_permit" for="css_not_required2">Not Required</label>
                            </div>
                        </div>
                        <br />
                        <div class="flex-container">
                            <div class="left-content">
                                <p class="p_hot_permit">Sewers, Manholes, CBD etc and HOT Surface Nearby Covered</p>
                                <input type="checkbox" id="Hot_permit_checked3" name="SewersManholesCBDandHotSurface" value="checked" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_checked3">Checked</label>
                                <input type="checkbox" id="Hot_permit_covered3" name="SewersManholesCBDandHotSurface" value="covered" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_covered3">Covered</label>
                                <input type="checkbox" id="Hot_permit_cleanedup3" name="SewersManholesCBDandHotSurface" value="cleanedup" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_cleanedup3">Cleaned Up</label>
                                <input type="checkbox" id="Hot_permit_removeddebris3" name="SewersManholesCBDandHotSurface" value="removeddebris" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_removeddebris3">Removed Debris</label>
                            </div>
                            <div class="right-content">
                                <input type="radio" id="html_done3" name="Hot_permit_status3" value="done" onclick="toggleCheckboxes(this)">
                                <label class="label_hot_permit" for="html_done3">Done</label>
                                <input type="radio" id="css_not_required3" name="Hot_permit_status3" value="not_required" checked onclick="toggleCheckboxes(this)">
                                <label class="label_hot_permit" for="css_not_required3">Not Required</label>
                            </div>
                        </div>
                        <br />
                        <div class="flex-container">
                            <div class="left-content">
                                <p class="p_hot_permit">Consider Hazard From</p>
                                <input type="checkbox" id="Hot_permit_checked_hazard4" name="ConsideredHazardFrom" value="checked" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_checked_hazard4">Other Routine</label>
                                <input type="checkbox" id="Hot_permit_covered_hazard4" name="ConsideredHazardFrom" value="covered" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_covered_hazard4">Non Routine Operations & Concerned Person Alerted</label>
                            </div>
                            <div class="right-content">
                                <input type="radio" id="html_done4" name="Hot_permit_status4" value="done" onclick="toggleCheckboxes(this)">
                                <label class="label_hot_permit" for="html_done4">Done</label>
                                <input type="radio" id="css_not_required4" name="Hot_permit_status4" value="not_required" checked onclick="toggleCheckboxes(this)">
                                <label class="label_hot_permit" for="css_not_required4">Not Required</label>
                            </div>
                        </div>
                        <br />
                        <div class="flex-container">
                            <div class="left-content">
                                <p class="p_hot_permit">Equipment Electrically Isolated and tagged vide</p>
                            </div>
                            <div class="right-content">
                                <input type="radio" id="html_done5" name="Hot_permit_status5" value="done" onclick="toggleCheckboxes(this)">
                                <label class="label_hot_permit" for="html_done5">Done</label>
                                <input type="radio" id="css_not_required5" name="Hot_permit_status5" value="not_required" checked onclick="toggleCheckboxes(this)">
                                <label class="label_hot_permit" for="css_not_required5">Not Required</label>
                            </div>
                        </div>
                        <br />
                        <div class="flex-container">
                            <div class="left-content">
                                <p class="p_hot_permit">Fire water hose/Portable Extinguishers Provided</p>
                                <input type="checkbox" id="Hot_permit_checked6" name="FireWaterhose_PortableExtinguishers" value="checked" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_checked6">CO2</label>
                                <input type="checkbox" id="Hot_permit_covered6" name="FireWaterhose_PortableExtinguishers" value="covered" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_covered6">DCP</label>
                            </div>
                            <div class="right-content">
                                <input type="radio" id="html_done6" name="Hot_permit_status6" value="done" onclick="toggleCheckboxes(this)">
                                <label class="label_hot_permit" for="html_done6">Done</label>
                                <input type="radio" id="css_not_required6" name="Hot_permit_status6" value="not_required" checked onclick="toggleCheckboxes(this)">
                                <label class="label_hot_permit" for="css_not_required6">Not Required</label>
                            </div>
                        </div>
                        <br />
                        <div class="flex-container">
                            <div class="left-content">
                                <p class="p_hot_permit">Equipment Properly Drained/Depressurised</p>
                                <input type="checkbox" id="Hot_permit_checked7" name="EquipmentProperlyDrained_Depressurized" value="checked" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_checked7">Checked</label>
                                <input type="checkbox" id="Hot_permit_covered7" name="EquipmentProperlyDrained_Depressurized" value="covered" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_covered7">Covered</label>
                                <input type="checkbox" id="Hot_permit_cleaned7" name="EquipmentProperlyDrained_Depressurized" value="cleaned" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_cleaned7">Cleaned Up</label>
                                <input type="checkbox" id="Hot_permit_removed7" name="EquipmentProperlyDrained_Depressurized" value="removed" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_removed7">Removed Debris</label>
                            </div>
                            <div class="right-content">
                                <input type="radio" id="html_done7" name="Hot_permit_status7" value="done" onclick="toggleCheckboxes(this)">
                                <label class="label_hot_permit" for="html_done7">Done</label>
                                <input type="radio" id="css_not_required7" name="Hot_permit_status7" value="not_required" checked onclick="toggleCheckboxes(this)">
                                <label class="label_hot_permit" for="css_not_required7">Not Required</label>
                            </div>
                        </div>
                        <button class="button_hot_permit" type="button" onclick="HotPermitIssue1()">Next</button>
                        <br>
                    </div>

                    <div id="page4" class="page">
                        <div class="flex-container">
                            <div class="left-content">
                                <p class="p_hot_permit">Checked for Oil/Gas Trapped Behind Lining in Equipment</p>
                            </div>
                            <div class="right-content">
                                <input type="radio" id="html_done8" name="Hot_permit_status8" value="Done">
                                <label class="label_hot_permit" for="html_done8">Done</label>
                                <input type="radio" id="css" name="Hot_permit_status8" value="Not Required" checked>
                                <label class="label_hot_permit" for="css">Not Required</label>
                            </div>
                        </div>

                        <div class="flex-container">
                            <div class="left-content">
                                <p class="p_hot_permit">Welding Machine Checked for</p>
                                <input type="checkbox" id="Hot_permit_checked9" name="WeldingMachineCheckedfor" value="checked" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_checked9">Earthing</label>
                                <input type="checkbox" id="Hot_permit_covered9" name="WeldingMachineCheckedfor" value="covered" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_covered9">Being Welded</label>
                                <input type="checkbox" id="Hot_permit_cleaned9" name="WeldingMachineCheckedfor" value="cleaned" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_cleaned9">Return Connection to Equipment</label>
                            </div>
                            <div class="right-content">
                                <input type="radio" id="html_done9" name="Hot_permit_status9" value="done" onclick="toggleCheckboxes(this)">
                                <label class="label_hot_permit" for="html_done9">Done</label>
                                <input type="radio" id="css_not_required9" name="Hot_permit_status9" value="not required" checked onclick="toggleCheckboxes(this)">
                                <label class="label_hot_permit" for="css_not_required9">Not Required</label>
                            </div>
                        </div>
                        <br>

                        <div class="flex-container">
                            <div class="left-content">
                                <p class="p_hot_permit">Equipment Properly Steamed/Purged</p>
                                <input type="checkbox" id="Hot_permit_checked10" name="EquipmentProperlySteamed_Purged" value="checked" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_checked10">Checked</label>
                                <input type="checkbox" id="Hot_permit_covered10" name="EquipmentProperlySteamed_Purged" value="covered" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_covered10">Covered</label>
                                <input type="checkbox" id="Hot_permit_cleaned10" name="EquipmentProperlySteamed_Purged" value="cleaned" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_cleaned10">Cleaned Up</label>
                                <input type="checkbox" id="Hot_permit_removed10" name="EquipmentProperlySteamed_Purged" value="removed" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_removed10">Removed Debris</label>
                            </div>
                            <div class="right-content">
                                <input type="radio" id="html_done10" name="Hot_permit_status10" value="done">
                                <label class="label_hot_permit" for="html_done10">Done</label>
                                <input type="radio" id="css_not_required10" name="Hot_permit_status10" value="not required" checked>
                                <label class="label_hot_permit" for="css_not_required10">Not Required</label>
                            </div>
                        </div>
                        <br>

                        <div class="flex-container">
                            <div class="left-content">
                                <p class="p_hot_permit">Shelid Against Sparks Provided</p>
                                <input type="checkbox" id="Hot_permit_checked11" name="ShieldAgainstSparks" value="checked" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_checked11">Checked</label>
                                <input type="checkbox" id="Hot_permit_covered11" name="ShieldAgainstSparks" value="covered" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_covered11">Covered</label>
                                <input type="checkbox" id="Hot_permit_cleaned11" name="ShieldAgainstSparks" value="cleaned" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_cleaned11">Cleaned Up</label>
                                <input type="checkbox" id="Hot_permit_removed11" name="ShieldAgainstSparks" value="removed" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_removed11">Removed Debris</label>
                            </div>
                            <div class="right-content">
                                <input type="radio" id="html_done11" name="Hot_permit_status11" value="done" onclick="toggleCheckboxes(this)">
                                <label class="label_hot_permit" for="html_done11">Done</label>
                                <input type="radio" id="css_not_required11" name="Hot_permit_status11" value="not required" checked onclick="toggleCheckboxes(this)">
                                <label class="label_hot_permit" for="css_not_required11">Not Required</label>
                            </div>
                        </div>
                        <br>



                        <div class="flex-container">
                            <div class="left-content">
                                <p class="p_hot_permit">Proper Means of Exit Provided</p>
                                <input type="checkbox" id="Hot_permit_checked12" name="ProperMeansofExit" value="checked" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_checked12">Checked</label>
                                <input type="checkbox" id="Hot_permit_covered12" name="ProperMeansofExit" value="covered" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_covered12">Covered</label>
                                <input type="checkbox" id="Hot_permit_cleaned12" name="ProperMeansofExit" value="cleaned" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_cleaned12">Cleaned Up</label>
                                <input type="checkbox" id="Hot_permit_removed12" name="ProperMeansofExit" value="removed" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_removed12">Removed Debris</label>
                            </div>
                            <div class="right-content">
                                <input type="radio" id="html_done12" name="Hot_permit_status12" value="done" onclick="toggleCheckboxes(this)">
                                <label class="label_hot_permit" for="html_done12">Done</label>
                                <input type="radio" id="css_not_required12" name="Hot_permit_status12" value="not required" checked onclick="toggleCheckboxes(this)">
                                <label class="label_hot_permit" for="css_not_required12">Not Required</label>
                            </div>
                        </div>
                        <br>

                        <div class="flex-container">
                            <div class="left-content">
                                <p class="p_hot_permit">Iron Sulphide Removed/kept wet</p>
                                <input type="checkbox" id="Hot_permit_checked13" name="IronSulphide" value="checked" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_checked13">Checked</label>
                                <input type="checkbox" id="Hot_permit_covered13" name="IronSulphide" value="covered" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_covered13">Covered</label>
                                <input type="checkbox" id="Hot_permit_cleaned13" name="IronSulphide" value="cleaned" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_cleaned13">Cleaned Up</label>
                                <input type="checkbox" id="Hot_permit_removed13" name="IronSulphide" value="removed" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_removed13">Removed Debris</label>
                            </div>
                            <div class="right-content">
                                <input type="radio" id="html_done13" name="Hot_permit_status13" value="done" onclick="toggleCheckboxes(this)">
                                <label class="label_hot_permit" for="html_done13">Done</label>
                                <input type="radio" id="css_not_required13" name="Hot_permit_status13" value="not required" checked onclick="toggleCheckboxes(this)">
                                <label class="label_hot_permit" for="css_not_required13">Not Required</label>
                            </div>
                        </div>
                        <br>

                        <div class="flex-container">
                            <div class="left-content">
                                <p class="p_hot_permit">Gas Test</p>
                                <input type="checkbox" id="Hot_permit_Gas_HC_14" name="GasTest" value="HC" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_Gas_HC_14">HC</label>
                                <input type="checkbox" id="Hot_permit_Gas_CO_14" name="GasTest" value="CO" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_Gas_CO_14">CO</label>
                                <input type="checkbox" id="Hot_permit_Gas_O_14" name="GasTest" value="O2" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_Gas_O_14">O2</label>
                                <input type="checkbox" id="Hot_permit_Gas_SO_14" name="GasTest" value="SO2" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_Gas_SO_14">SO2</label>
                                <input type="checkbox" id="Hot_permit_Gas_HS_14" name="GasTest" value="H2S" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_Gas_HS_14">H2S</label>
                                <input type="checkbox" id="Hot_permit_Gas_other_14" name="GasTest" value="Other" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_Gas_other_14">Other if Any</label>
                            </div>
                            <div class="right-content">
                                <input type="radio" id="html_done14" name="Hot_permit_status14" value="done" onclick="toggleCheckboxes(this)">
                                <label class="label_hot_permit" for="htmldone14">Done</label>
                                <input type="radio" id="css_not_required14" name="Hot_permit_status14" value="not_required" checked onclick="toggleCheckboxes(this)">
                                <label class="label_hot_permit" for="css_not_required14">Not Required</label>
                            </div>
                        </div>
                        <button class="button_hot_permit" type="button" onclick="showPage()">Previous</button>

                        <button class="button_hot_permit" type="button" onclick="HotPermitIssue2()">Next</button>
                    </div>


                    <div id="page5" class="page">
                        <div class="flex-container">
                            <div class="left-content">
                                <p class="p_hot_permit">Clearence Obtained for dyke wall cutting</p>
                                <input class="label_hot_permit" type="checkbox" id="Hot_permit_checked15" name="Hot_permit" value="checked" onclick="toggleRadioButtons(this)">
                                <label for="Hot_permit_checked15">Checked</label>
                                <input type="checkbox" id="Hot_permit_covered15" name="Hot_permit" value="covered" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_covered15">Covered</label>
                                <input type="checkbox" id="Hot_permit_cleaned15" name="Hot_permit" value="cleaned" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_cleaned15">Cleaned Up</label>
                                <input type="checkbox" id="Hot_permit_removed15" name="Hot_permit" value="removed" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_removed15">Removed Debris</label>
                            </div>
                            <div class="right-content">
                                <input type="radio" id="html_done15" name="Hot_permit_Clear" value="done" checked onclick="toggleCheckboxes(this)">
                                <label class="label_hot_permit" for="html_done15">Done</label>
                                <input type="radio" id="css_not_required15" name="Hot_permit_Clear" value="not_required" checked onclick="toggleCheckboxes(this)">
                                <label class="label_hot_permit" for="css_not_required15">Not Required</label>
                            </div>
                        </div>
                        <br>

                        <div class="flex-container">
                            <div class="left-content">
                                <p class="p_hot_permit">Proper tags/boards provided</p>
                                <input type="checkbox" id="Hot_permit_checked16" name="Hot_permit" value="checked" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_checked16">Checked</label>
                                <input type="checkbox" id=" Hot_permit_covered16" name="Hot_permit" value="covered" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_covered16">Covered</label>
                                <input type="checkbox" id="Hot_permit_cleaned16" name="Hot_permit" value="cleaned" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_cleaned16">Cleaned Up</label>
                                <input type="checkbox" id="Hot_permit_removed16" name="Hot_permit" value="removed" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_removed16">Removed Debris</label>
                            </div>
                            <div class="right-content">
                                <input type="radio" id="html_done16" name="Hot_permit_Proper_tags" value="done" onclick="toggleCheckboxes(this)">
                                <label class="label_hot_permit" for="html_done">Done</label>
                                <input type="radio" id="css_not_required16" name="Hot_permit_Proper_tags" value="not_required" checked onclick="toggleCheckboxes(this)">
                                <label class="label_hot_permit" for="css_not_required16">Not Required</label>
                            </div>
                        </div>
                        <br>

                        <div class="flex-container">
                            <div class="left-content">
                                <p class="p_hot_permit">Equipment Water Flushed</p>
                                <input type="checkbox" id="Hot_permit_checked17" name="Hot_permit" value="checked" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_checked17">Checked</label>
                                <input type="checkbox" id="Hot_permit_covered17" name="Hot_permit" value="covered" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_covered17">Covered</label>
                                <input type="checkbox" id="Hot_permit_cleaned17" name="Hot_permit" value="cleaned" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_cleaned17">Cleaned Up</label>
                                <input type="checkbox" id="Hot_permit_removed17" name="Hot_permit" value="removed" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_removed17">Removed Debris</label>
                            </div>
                            <div class="right-content">
                                <input type="radio" id="html_done17" name="Hot_permit_Water_flush" value="done" onclick="toggleCheckboxes(this)">
                                <label class="label_hot_permit" for="html_done17">Done</label>
                                <input type="radio" id="css_not_required17" name="Hot_permit_Water_flush" value="not_required" checked onclick="toggleCheckboxes(this)">
                                <label class="label_hot_permit" for="css_not_required17">Not Required</label>
                            </div>
                        </div>
                        <br>

                        <div class="flex-container">
                            <div class="left-content">
                                <p class="p_hot_permit">StandBy Personnel Provided to Fire Watch from</p>

                                <input type="checkbox" id="Hot_permit_Standby18" name="StandBy_permit_process" value="checked" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_Standby18">Process</label>

                                <input type="checkbox" id="Hot_permit_maintenance18" name="StandBy_permit_maintenance" value="covered" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_maintenance18">Maintenance</label>

                                <input type="checkbox" id="Hot_permit_contractor18" name="StandBy_permit_contractor" value="covered" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_contractor18">Contractor</label>

                                <input type="checkbox" id="Hot_permit_fire_safety18" name="StandBy_permit_fire_safety" value="covered" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_fire_safety18">Fire & Safety</label>
                            </div>
                            <div class="right-content">
                                <input type="radio" id="html_done18" name="Hot_permit_Standby" value="done" onclick="toggleCheckboxes(this)">
                                <label class="label_hot_permit" for="html_done18">Done</label>

                                <input type="radio" id="css_not_required18" name="Hot_permit_Standby" value="not_required" checked onclick="toggleCheckboxes(this)">
                                <label class="label_hot_permit" for="css_not_required18">Not Required</label>
                            </div>
                        </div>
                        <br>

                        <div class="flex-container">
                            <div class="left-content">
                                <p class="p_hot_permit">Portable Equipment/nozzels properly Grounded</p>
                                <input type="checkbox" id="Hot_permit_checked19" name="Hot_permit" value="checked" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_checked19">Checked</label>
                                <input type="checkbox" id="Hot_permit_covered19" name="Hot_permit" value="covered" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_covered19">Covered</label>
                                <input type="checkbox" id="Hot_permit_cleaned19" name="Hot_permit" value="cleaned" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_cleaned19">Cleaned Up</label>
                                <input type="checkbox" id="Hot_permit_removed19" name="Hot_permit" value="removed" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_removed19">Removed Debris</label>
                            </div>
                            <div class="right-content">
                                <input type="radio" id="html_done19" name="Hot_permit_portable_equipment" value="done" onclick="toggleCheckboxes(this)">
                                <label class="label_hot_permit" for="html_done19">Done</label>
                                <input type="radio" id="css_not_required19" name="Hot_permit_portable_equipment" value="not_required" checked onclick="toggleCheckboxes(this)">
                                <label class="label_hot_permit" for="css_not_required19">Not Required</label>
                            </div>
                        </div>
                        <br>

                        <div class="flex-container">
                            <div class="left-content">
                                <p class="p_hot_permit">Standby Personal Provided for Vessel Entry</p>
                            </div>
                            <div class="right-content">
                                <input type="radio" id="html_done20" name="Vessel_entry_status" value="done">
                                <label class="label_hot_permit" for="html_done20">Done</label>
                                <input type="radio" id="css_not_required20" name="Vessel_entry_status" value="not_required" checked>
                                <label class="label_hot_permit" for="css_not_required20">Not Required</label>
                            </div>
                        </div>
                        <br>


                        <div class="flex-container">
                            <div class="left-content">
                                <p class="p_hot_permit">Clearence Obtained For Road Cutting from Tech/Fire/Concerned Department</p>
                            </div>
                            <div class="right-content">
                                <input type="radio" id="html_done21" name="Road_cutting_status" value="done">
                                <label class="label_hot_permit" for="html_done21">Done</label>
                                <input type="radio" id="css_road_cutting_not_required" name="Road_cutting_status" value="not_required" checked>
                                <label class="label_hot_permit" for="css_road_cutting_not_required">Not Required</label>
                            </div>
                        </div>
                        <br>
                        <button class="button_hot_permit" type="button" onclick="showPage('page5')">Previous</button>
                        <button class="button_hot_permit" type="button" onclick="showPage('page6')">Next</button>
                    </div>

                    <div id="page6" class="page">
                        <div class="flex-container">
                            <div class="left-content">
                                <p class="p_hot_permit">Incase Of Excavation, Clearence Shall be Obtained from Area Civil & Excavation</p>
                            </div>
                            <div class="right-content">
                                <input type="radio" id="html_done22" name="Excavation_status" value="done">
                                <label class="label_hot_permit" for="html_done22">Done</label>
                                <input type="radio" id="css_not_required23" name="Excavation_status" value="not_required" checked>
                                <label class="label_hot_permit" for="css_not_required23">Not Required</label>
                            </div>
                        </div>
                        <br>

                        <div class="flex-container">
                            <div class="left-content">
                                <p class="p_hot_permit">Equipment</p>
                                <input type="checkbox" id="Hot_permit_checked_equipment24" name="Hot_permit" value="checked" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_checked_equipment24">Checked</label>
                                <input type="checkbox" id="Hot_permit_covered_equipment24" name="Hot_permit" value="covered" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_covered_equipment24">Covered</label>
                                <input type="checkbox" id="Hot_permit_cleaned_equipment24" name="Hot_permit" value="cleaned" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_cleaned_equipment24">Cleaned Up</label>
                                <input type="checkbox" id="Hot_permit_removed_equipment24" name="Hot_permit" value="removed" onclick="toggleRadioButtons(this)">
                                <label class="label_hot_permit" for="Hot_permit_removed_equipment24">Removed Debris</label>
                            </div>

                            <div class="right-content">
                                <input type="radio" id="html_done24" name="Hot_permit_status_equip" value="done" onclick="toggleCheckboxes(this)">
                                <label class="label_hot_permit" for="html_done24">Done</label>
                                <input type="radio" id="css_not_required24" name="Hot_permit_status_equip" value="not_required" checked onclick="toggleCheckboxes(this)">
                                <label class="label_hot_permit" for="css_not_required24">Not Required</label>
                            </div>
                        </div>
                        <br>

                        <div class="flex-container">
                            <div class="left-content">
                                <p class="p_hot_permit">Precaution Against Public Traffic Taken</p>
                            </div>
                            <div class="right-content">
                                <input type="radio" id="html_done24" name="Cold_permit_public" value="done">
                                <label class="label_hot_permit" for="html_done24">Done</label>
                                <input type="radio" id="css_excavation_not_required" name="Cold_permit_public" value="not_required" checked>
                                <label class="label_hot_permit" for="css_excavation_not_required">Not Required</label>
                            </div>
                        </div>
                        <br>

                        <div class="flex-container">
                            <div class="left-content">
                                <p class="p_hot_permit">Proper Ventilation and Lighting Provided(24 Volts)</p>
                            </div>

                            <div class="right-content">
                                <input type="radio" id="html_done25" name="Cold_permit_ventilation" value="HTML">
                                <label class="label_hot_permit" for="html_done25">Done</label>
                                <input type="radio" id="css" name="Cold_permit_ventilation" value="CSS" checked>
                                <label class="label_hot_permit" for="css">Not Required</label>
                            </div>
                        </div>
                        <br>

                        <div class="flex-container">
                            <div class="left-content">
                                <p class="p_hot_permit">Precautionary tags/boards Provided<p>
                            </div>
                            <div class="right-content">
                                <input type="radio" id="html_done26" name="Cold_permit_precaution" value="HTML">
                                <label class="label_hot_permit" for="html_done26">Done</label>
                                <input type="radio" id="css" name="Cold_permit_precaution" value="CSS" checked>
                                <label class="label_hot_permit" for="css">Not Required</label>
                            </div>
                        </div>
                        <br>

                        <div class="flex-container">
                            <div class="left-content">
                                <p class="p_hot_permit">Area Cordoned Off<p>
                            </div>

                            <div class="right-content">

                                <input type="radio" id="html_done27" name="Cold_permit_area_cordoned" value="HTML">
                                <label class="label_hot_permit" for="html_done27">Done</label>
                                <input type="radio" id="css" name="Cold_permit_area_cordoned" value="CSS" checked>
                                <label class="label_hot_permit" for="css">Not Required</label>
                            </div>
                        </div>
                        <br>

                        <div class="flex-container">
                            <div class="left-content">
                                <p class="p_hot_permit">Clearence for Excavation from Electrical/Concerned Department<p>
                            </div>
                            <div class="right-content">

                                <input type="radio" id="html_done28" name="Cold_permit_Clearence" value="HTML">
                                <label class="label_hot_permit" for="html_done28">Done</label>
                                <input type="radio" id="css" name="Cold_permit_Clearence" value="CSS" checked>
                                <label class="label_hot_permit" for="css">Not Required</label>
                            </div>
                        </div>
                        <br>

                        <div class="flex-container">
                            <div class="left-content">
                                <p class="p_hot_permit">Cheacked Flame/Spark Arrestor in Mobile Equipment<p>
                            </div>
                            <div class="right-content">

                                <input type="radio" id="html_done29" name="Cold_permit_Arrestor" value="HTML">
                                <label class="label_hot_permit" for="html_done29">Done</label>
                                <input type="radio" id="css" name="Cold_permit_Arrestor" value="CSS" checked>
                                <label class="label_hot_permit" for="css">Not Required</label>
                            </div>
                        </div>
                        <br>
                        <button class="button_hot_permit" type="button" onclick="showPage('page5')">Previous</button>
                        <button class="button_hot_permit" type="button" onclick="showPage('page7')">Next</button>
                    </div>
                    <div id="page7" class="page">
                        <div class="flex-container">
                            <div class="left-content">
                                <p class="p_hot_permit">Following Personal Protective Equipment's(PPE) are used</p>
                            </div>
                            <div class="right-content">
                                <input type="radio" id="html_done30" name="Hot_permit30" value="HTML" onclick="toggleCheckboxes(this)">
                                <label class="label_cold_permit" for="html_done30">Done</label>
                                <input type="radio" id="css_not_required30" name="Hot_permit30" value="CSS" checked onclick="toggleCheckboxes(this)">
                                <label class="label_cold_permit" for="css_not_required30">Not Required</label>
                            </div>
                        </div>

                        <table class="table_hot_permit" style="border: none;">
                            <tr>
                                <td class="td_hot_permit" style="padding-right: 10px;">
                                    <input type="checkbox" id="Hot_permit_checked30" name="Hot_permit" value="checked" onclick="toggleRadioButtons(this)">
                                    <label class="label_hot_permit" for="Hot_permit_checked30">Safety Helmet</label>
                                </td>
                                <td class="td_hot_permit" style="padding-right: 10px;">
                                    <input type="checkbox" id="Hot_permit_covered30" name="Hot_permit" value="covered" onclick="toggleRadioButtons(this)">
                                    <label class="label_hot_permit" for="Hot_permit_covered30">Safety Shoes</label>
                                </td>
                                <td class="td_hot_permit">
                                    <input type="checkbox" id="Hot_permit_checked_again30" name="Hot_permit" value="checked" onclick="toggleRadioButtons(this)">
                                    <label class="label_hot_permit" for="Hot_permit_checked_again30">Gloves</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="td_hot_permit" style="padding-right: 10px;">
                                    <input type="checkbox" id="Hot_permit_covered_a30" name="Hot_permit" value="covered" onclick="toggleRadioButtons(this)">
                                    <label class="label_hot_permit" for="Hot_permit_covered_a30">Goggles</label>
                                </td>
                                <td class="td_hot_permit" style="padding-right: 10px;">
                                    <input type="checkbox" id="Hot_permit_checked_a30" name="Hot_permit" value="checked" onclick="toggleRadioButtons(this)">
                                    <label class="label_hot_permit" for="Hot_permit_checked_a30">Fresh Air Mask</label>
                                </td>
                                <td class="td_hot_permit">
                                    <input type="checkbox" id="Hot_permit_covered_a30" name="Hot_permit" value="covered" onclick="toggleRadioButtons(this)">
                                    <label class="label_hot_permit" for="Hot_permit_covered_a30">Canister Mask</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="td_hot_permit" style="padding-right: 10px;">
                                    <input type="checkbox" id="Hot_permit_checked_aa30" name="Hot_permit" value="checked" onclick="toggleRadioButtons(this)">
                                    <label class="label_hot_permit" for="Hot_permit_checked_aa30">Lifeline</label>
                                </td>
                                <td class="td_hot_permit" style="padding-right: 10px;">
                                    <input type="checkbox" id="Hot_permit_covered_aa30" name="Hot_permit" value="covered" onclick="toggleRadioButtons(this)">
                                    <label class="label_hot_permit" for="Hot_permit_covered_aa30">Apron</label>
                                </td>
                                <td class="td_hot_permit">
                                    <input type="checkbox" id="Hot_permit_check_aa30" name="Hot_permit" value="checked" onclick="toggleRadioButtons(this)">
                                    <label class="label_hot_permit" for="Hot_permit_check_aa30">Dust Respiration</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="td_hot_permit" style="padding-right: 10px;">
                                    <input type="checkbox" id="Hot_permit_covered_aaa30" name="Hot_permit" value="covered" onclick="toggleRadioButtons(this)">
                                    <label class="label_hot_permit" for="Hot_permit_covered_aaa30">Dosimeter</label>
                                </td>
                                <td class="td_hot_permit" style="padding-right: 10px;">
                                    <input type="checkbox" id="Hot_permit_checked_aaa30" name="Hot_permit" value="checked" onclick="toggleRadioButtons(this)">
                                    <label class="label_hot_permit" for="Hot_permit_checked_aaa30">Boiler Suit</label>
                                </td>
                                <td class="td_hot_permit">
                                    <input type="checkbox" id="Hot_permit_cover_aaa30" name="Hot_permit" value="covered" onclick="toggleRadioButtons(this)">
                                    <label class="label_hot_permit" for="Hot_permit_cover_aaa30">Flim Badges</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="td_hot_permit" style="padding-right: 10px;">
                                    <input type="checkbox" id="Hot_permit_checked_aaaa30" name="Hot_permit" value="checked" onclick="toggleRadioButtons(this)">
                                    <label class="label_hot_permit" for="Hot_permit_checked_aaaa30">Ear plug</label>
                                </td>
                                <td class="td_hot_permit" style="padding-right: 10px;">
                                    <input type="checkbox" id="Hot_permit_covered_aaaa30" name="Hot_permit" value="covered" onclick="toggleRadioButtons(this)">
                                    <label class="label_hot_permit" for="Hot_permit_covered_aaaa30">Airline</label>
                                </td>
                                <td class="td_hot_permit">
                                    <input type="checkbox" id="Hot_permit_check_aaaa30" name="Hot_permit" value="checked" onclick="toggleRadioButtons(this)">
                                    <label class="label_hot_permit" for="Hot_permit_check_aaaa30">Breathing Apparatus</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="td_hot_permit" style="padding-right: 10px;">
                                    <input type="checkbox" id="Hot_permit_checked_aaaaa30" name="Hot_permit" value="checked" onclick="toggleRadioButtons(this)">
                                    <label class="label_hot_permit" for="Hot_permit_checked_aaaaa30">Safety Belt</label>
                                </td>
                                <td class="td_hot_permit" style="padding-right: 10px;">
                                    <input type="checkbox" id="Hot_permit_covered_aaaaa30" name="Hot_permit" value="covered" onclick="toggleRadioButtons(this)">
                                    <label class="label_hot_permit" for="Hot_permit_covered_aaaaa30">Welding Suit</label>
                                </td>
                                <td class="td_hot_permit">
                                    <input type="checkbox" id="Hot_permit_check_aaaaa30" name="Hot_permit" value="checked" onclick="toggleRadioButtons(this)">
                                    <label class="label_hot_permit" for="Hot_permit_check_aaaaa30">Face Shield</label>
                                </td>
                            </tr>

                        </table>

                        <br><br>

                        <button class="button_hot_permit" type="button" onclick="showPage('page6')">Previous</button>
                        <button class="button_hot_permit" type="submit">Submit</button>
                    </div>


                </div>
            </div>

        </div>

    </form>

}


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<!--</div>-->
<script>

    var permitId = "";

    $(document).ready(function () {

        if ('@Model.Permit_Issue_ID' != '' && '@Model.Permit_Issue_ID' != 'null') {

            permitId = '@Model.Permit_Issue_ID'

            $("#btnColdPermit").attr("disabled", false);
            $("#btnHotPermit").attr("disabled", false);
        }
        else {

            $("#btnColdPermit").attr("disabled", true);
            $("#btnHotPermit").attr("disabled", true);

        }

    });




    let lcp = document.getElementById("lcp")
    function load_cold_permit() {
        lcp.classList.toggle("active");
    }

    let lhp = document.getElementById("lhp")
    function load_hot_permit() {
        lhp.classList.toggle("active");
    }



    function toggleRadioButtons(checkbox) {
        const sectionPrefix = checkbox.id.match(/\d+/)[0];  // Extract section number

        const doneRadio = document.getElementById(`html_done${sectionPrefix}`);
        const notRequiredRadio = document.getElementById(`css_not_required${sectionPrefix}`);

        if (checkbox.checked) {
            doneRadio.checked = true;
            doneRadio.disabled = false;
            notRequiredRadio.disabled = true;
        } else {
            // Check if all checkboxes in this section are unchecked
            const allUnchecked = [...document.querySelectorAll(`input[name="Cold_permit${sectionPrefix}"][type="checkbox"]`)].every(chk => !chk.checked);

            if (allUnchecked) {
                notRequiredRadio.checked = true;
                notRequiredRadio.disabled = false;
                doneRadio.disabled = true;
            }
        }
    }

    // Function to toggle checkboxes based on radio button state
    function toggleCheckboxes(radio) {
        const sectionPrefix = radio.id.match(/\d+/)[0];  // Extract section number

        const checkboxes = document.querySelectorAll(`input[name="Cold_permit${sectionPrefix}"][type="checkbox"]`);

        if (radio.value === 'Done') {
            checkboxes.forEach(chk => {
                chk.checked = true;
                chk.disabled = false;
            });
        } else {
            checkboxes.forEach(chk => {
                chk.checked = false;
                chk.disabled = false;
            });
        }
    }


    function showPage(pageId) {


        var pages = document.getElementsByClassName('page');
        for (var i = 0; i < pages.length; i++) {
            pages[i].classList.remove('active');
        }
        document.getElementById(pageId).classList.add('active');


    }

    //function for sending data for cold permit
    function ColdPermitIssue1() {


        var coldPermit = {};
        coldPermit.WorkAreaInspected = $('input[name="Cold_permit_status1"]:checked').val();

        coldPermit.SurroundingARea = $('input[name="Cold_permit_status2"]:checked').val();

        var SurroundingAReaChecklist = {};
        SurroundingAReaChecklist.Checked = $('#Cold_permit_checked2').prop("checked");
        SurroundingAReaChecklist.Covered = $('#Cold_permit_covered2').prop("checked");
        SurroundingAReaChecklist.Cleaned = $('#Cold_permit_cleaned2').prop("checked");
        coldPermit.SurroundingAReaChecklist = SurroundingAReaChecklist;


        coldPermit.EquipmentElectricallyIsolated = $('input[name="Cold_permit_status3"]:checked').val();

        coldPermit.RunningWater = $('input[name="Cold_permit_status4"]:checked').val();
        var RunningWaterChecklist = {};
        RunningWaterChecklist.Checked = $('#Cold_permit_checked4').prop("checked");
        RunningWaterChecklist.Covered = $('#Cold_permit_covered4').prop("checked");
        RunningWaterChecklist.Cleaned = $('#Cold_permit_cleaned4').prop("checked");
        coldPermit.RunningWaterChecklist = RunningWaterChecklist;

        coldPermit.Equipment = $('input[name="Cold_permit_status5"]:checked').val();
        var EquipmentChecklist = {};
        EquipmentChecklist.Blinded = $('#Cold_permit_blinded5').prop("checked");
        EquipmentChecklist.Closed = $('#Cold_permit_closed5').prop("checked");
        EquipmentChecklist.Disconnected = $('#Cold_permit_disconnected5').prop("checked");
        EquipmentChecklist.Isolated = $('#Cold_permit_isolated5').prop("checked");
        coldPermit.EquipmentChecklist = EquipmentChecklist;


        coldPermit.EquipmentProperty = $('input[name="Cold_permit_status6"]:checked').val();
        var EquipmentPropertyChecklist = {};
        EquipmentPropertyChecklist.Drained = $('#Cold_permit_drained6').prop("checked");
        EquipmentPropertyChecklist.Depressurised = $('#Cold_permit_depressurised6').prop("checked");
        coldPermit.EquipmentPropertyChecklist = EquipmentPropertyChecklist;

        coldPermit.EquipmentWaterFlushed = $('input[name="Cold_permit_status7"]:checked').val();
        coldPermit.IronSulphide = $('input[name="Cold_permit_status8"]:checked').val();

        coldPermit.permitId = permitId;



        $.ajax({
            type: "POST",
            url: "InsertColdPermit",
            data: { coldPermit: coldPermit },
            cache: false,
            success: function (data) {

            },
            error: function (a, b, c) {

            }
        });


        var pages = document.getElementsByClassName('page');
        for (var i = 0; i < pages.length; i++) {
            pages[i].classList.remove('active');
        }
        document.getElementById("page2").classList.add('active');

    }

    function ColdPermitIssue2() {


        var coldPermit = {};
        coldPermit.EquipmentProperlySteamed = $('input[name="Cold_permit_status9"]:checked').val();
        coldPermit.GasTest = $('input[name="Cold_permit_status10"]:checked').val();
        coldPermit.StandbyPerson = $('input[name="Cold_permit_status11"]:checked').val();
        coldPermit.VentilationandLighting = $('input[name="Cold_permit_status12"]:checked').val();
        coldPermit.AreaCordoned = $('input[name="Cold_permit_status13"]:checked').val();
        coldPermit.RadioIsotopes = $('input[name="Cold_permit_status14"]:checked').val();
        coldPermit.ppe = $('input[name="Cold_permit_status15"]:checked').val();

        coldPermit.permitId = permitId;


        $.ajax({
            type: "POST",
            url: "InsertColdPermit",
            data: { coldPermit: coldPermit },
            cache: false,
            success: function (data) {

                location.href = 'Showallpermit';

            },
            error: function (a, b, c) {

                location.href = 'Showallpermit';

            }
        });


        var pages = document.getElementsByClassName('page');
        for (var i = 0; i < pages.length; i++) {
            pages[i].classList.remove('active');
        }
        document.getElementById("page2").classList.add('active');

    }


    //function for sending hot permit

    function HotPermitIssue1() {


        var hotPermit = {};
        hotPermit.checking = $('input[name="Hot_permit_status1"]:checked').val();
        var checkingChecklist = {};
        checkingChecklist.Equipment = $('#Hot_permit_equipment1').prop("checked");
        checkingChecklist.Work_area = $('#Hot_permit_workarea1').prop("checked");
        hotPermit.checkingChecklist = checkingChecklist;

        hotPermit.SurroundingARea = $('input[name="Hot_permit_status2"]:checked').val();
        var hotSurroundingAReaChecklist = {};
        hotSurroundingAReaChecklist.Checked = $('#Hot_permit_checked2').prop("checked");
        hotSurroundingAReaChecklist.Rags = $('#Hot_permit_rags2').prop("checked");
        hotSurroundingAReaChecklist.Cleaned_up_oil = $('#Hot_permit_cleanedupoil2').prop("checked");
        hotSurroundingAReaChecklist.Grass_etc_Removed = $('#Hot_permit_grassremoved2').prop("checked");
        hotPermit.hotSurroundingAReaChecklist = hotSurroundingAReaChecklist;


        hotPermit.SewersManholesCBDandHotSurface = $('input[name="Hot_permit_status3"]:checked').val();
        var SewersManholesCBDandHotSurfaceChecklist = {};
        SewersManholesCBDandHotSurfaceChecklist.Checked = $('#Hot_permit_checked3').prop("checked");
        SewersManholesCBDandHotSurfaceChecklist.Covered = $('#Hot_permit_covered3').prop("checked");
        SewersManholesCBDandHotSurfaceChecklist.Cleaned_up = $('#Hot_permit_cleanedup3').prop("checked");
        SewersManholesCBDandHotSurfaceChecklist.Removed_debris = $('#Hot_permit_removeddebris3').prop("checked");
        hotPermit.SewersManholesCBDandHotSurfaceChecklist = SewersManholesCBDandHotSurfaceChecklist;


        hotPermit.ConsideredHazardFrom = $('input[name="Hot_permit_status4"]:checked').val();
        hotPermit.EquipmentElectricallyIsolated = $('input[name="Hot_permit_status5"]:checked').val();
        hotPermit.FireWaterhose_PortableExtinguishers = $('input[name="Hot_permit_status6"]:checked').val();
        hotPermit.EquipmentProperlyDrained_Depressurizedishers = $('input[name="Hot_permit_status7"]:checked').val();


        hotPermit.hot_permit_ID = permitId;


        $.ajax({
            type: "POST",
            url: "InsertHotPermit",
            data: { hotPermit: hotPermit },
            cache: false,
            success: function (data) {

            },
            error: function (a, b, c) {

            }
        });


        var pages = document.getElementsByClassName('page');
        for (var i = 0; i < pages.length; i++) {
            pages[i].classList.remove('active');
        }
        document.getElementById("page4").classList.add('active');

    }



    function HotPermitIssue2() {


        var hotPermit = {};
        hotPermit.CheckforOilgas_Trapped = $('input[name="Hot_permit_status8"]:checked').val();
        hotPermit.WeldingMachineCheckedfor = $('input[name="Hot_permit_status9"]:checked').val();
        hotPermit.EquipmentProperlySteamed_Purged = $('input[name="Hot_permit_status10"]:checked').val();
        hotPermit.ShieldAgainstSparks = $('input[name="Hot_permit_status11"]:checked').val();
        hotPermit.ProperMeansofExit = $('input[name="Hot_permit_status12"]:checked').val();
        hotPermit.IronSulphide = $('input[name="Hot_permit_status13"]:checked').val();
        hotPermit.GasTest = $('input[name="Hot_permit_status114"]:checked').val();


        hotPermit.hot_permit_ID = permitId;


        $.ajax({
            type: "POST",
            url: "InsertHotPermit",
            data: { hotPermit: hotPermit },
            cache: false,
            success: function (data) {

            },
            error: function (a, b, c) {

            }
        });


        var pages = document.getElementsByClassName('page');
        for (var i = 0; i < pages.length; i++) {
            pages[i].classList.remove('active');
        }
        document.getElementById("page4").classList.add('active');

    }


</script>

<!--</body>-->
